@font-face {
  font-family: "RobotoMono";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@;0,300;0&display=swap");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "RobotoMono", monospace;
  vertical-align: baseline;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
}
